* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

nav {
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: blue;
    height: 80px;
    width: 100%;
    padding: 0 40px;
    z-index: 3;
    box-sizing: border-box;
    position: absolute;
}

.mainBrand {
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

nav.menuLink {
    display: flex;
}

nav .menuItem {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    margin-left: 20px;
    font-weight: 600;
    box-shadow: inset 0px -10px 0px rgba(255, 255, 255, 0.5); 
    transition: all 0.4s ease, transform 0.2s ease;
    padding: 2px 4px;    
    transform: translateY(-2px);   
}

nav .menuItem:hover {
    transform: translateY(-7px);
    box-shadow: inset 0px -24px 0px white;
    color: aqua;
}


/* Slide */


