* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {

}

header {
    background: black;
    color:burlywood;
    height: 80px;
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
}
.mainBrand {
    font-size: 32px;
    font-weight: bold;
    transition: all 0.4s ease, transform 0.2s ease;
    padding: 24px 0;
}

nav ul {
    display: inline-flex;
}
header nav ul li {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 32px 8px;
    margin-left: 20px;
    transition: all 0.4s ease, transform 0.2s ease;

}

li:hover {
    transform: translateY(-2px);
    color: rgb(226, 192, 42);
    box-shadow: inset 0px -10px 0px rgba(255, 255, 255, 0.5); 

}

.mainBrand:hover {
    transform: translateY(-1px);
    box-shadow: inset 0px -10px 0px rgba(255, 255, 255, 0.5); 
    
}



header .mobile {
    display: none;
}

@media screen and (max-width: 1024px) {
    header .mobile {
       display: none;
    }
    header .mainBrand {
        padding: 24px 0;
    }
}
@media screen and (max-width: 768px) {
    nav {
        display: none;
    }
    header {
        height: 60px;
    }

    header .mainBrand {
        font-size: 24px;
        padding: 18px 0;
}
@media screen and (max-width: 640px) {
    nav {
        display: none;
    }
    header .mainBrand {
        font-size: 24px;
        padding: 18px 0;

}
@media screen and (max-width: 480px) {
    nav {
        display: none;
    }

    header .mainBrand {
        font-size: 24px;
        padding: 18px 0;
    }
}



/*
nav .menuItem {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    margin-left: 20px;
    font-weight: 600;
    transition: all 0.4s ease, transform 0.2s ease;
    box-shadow: inset 0px -10px 0px rgba(255, 255, 255, 0.5); 
    padding: 2px 4px;    
    transform: translateY(-2px);   
}

nav .menuItem:hover {
    transform: translateY(-7px);
    box-shadow: inset 0px -24px 0px white;
    color: black;
}

@media screen and (max-width: 799px) {
    nav {
        height: 60px;
        padding: 0 5px;
    }
} */



