<div class="container">

    <div class="nav-pc">

        <!-- Brand -->

        <div class="mainBrand">
            <a href="#">Tietkiemdi Blog</a>
        </div>
        <!-- nav -->
        <input type="checkbox" id="nav-ck">
        <label for="nav-ck" class="btnMenu">
            <span><i class="fas fa-bars"></i></span>

        </label>

        <nav class="nav-links">
            <ul>
                <li> <a href="#" class="menuItem">Trang chủ</a></li>
                <li> <a href="#" class="menuItem">Blog</a></li>
                <li> <a href="#" class="menuItem">Tác giả</a></li>
                <li> <a href="#" class="menuItem">Liên hệ</a></li>
            </ul>

        </nav>


        <!-- mobile -->


    </div>
</div>